<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1 class="p-2">
       Tech Blog
      </h1>
      <nav class="display-flex justify-space-between p-2">
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/">Blog</a>
        <a href="/dashboard">Dashboard</a> |
        <button class="no-button" id="logout">Logout</button>
        {{else}}
        <a href="/">Blog</a>
        <a href="/login">Login</a>
        <a href="/signup">Sign Up</a>
        {{/if}}
      </nav>
    </header>
  </div>

  <main class="container mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>