{{#each posts as |post| }}
<div class="row mb-4 post">
  <div>
    <h2>
      {{{title}}}
    </h2>
    <p>
      {{post.postCopy}}
      <a href="/posts/{{post.id}}">Read More</a>
    </p>
  </div>
  <div class="col-md-7">
  </div>
</div>
{{/each}}

<!--If I were to do this over again, I'd want to try adding a field in the models that would pull the first 90 characters of the blog content-->