 <div class="col-md-10">
    <h2>New Blog Post</h2>

    <form class="form new-blog-form">
      <div class="form-group">
        <label for="blog-title">Title:</label>
        <input class="form-input" type="text" id="blog-title" />
      </div>
      <div class="form-group">
        <label for="blog-post">Post:</label>
        <input class="form-input" type="text" id="blog-post" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Publish</button>
      </div>
    </form>
  </div>
</div>